#imgurTimerHtml {
	background-color: #2B2B2B;
	margin: 0px;
	padding: 0px;
	text-align: center;
}
#imgurTimerBody {
	width: 230px;
	color: #DDDDD1;
}
#imgurTimerCaption h1 {
	margin: 0px;
	font-size: 30px;
	vertical-align: top;
}
#imgurTimerDisplay {
	margin: 0px;
	margin-top: -20px;
	padding: 0px;
	text-align: center;
}
#imgurTimerDisplay ul {
	margin: 0px;
	padding: 0px;
}
#imgurTimerDisplay li {
	display: inline-block;
}
#imgurTimerNumbers {
	margin: 0px;
	font-size: 43px;
	font-style: bold;
}
#imgurTimerLogos {
	padding: 0px;
	margin: 0px;
}	
#imgurTimerLogos li {
	display: inline-block;
	margin-left: 5px;
	margin-right: 5px;
}
#imgurTimerLabels {
	margin: 0px;
	padding: 0px;
}
#imgurTimerLabels li {
	display: inline-block;
	margin-left: 12px;
	margin-right: 12px;
}
.imgurTimerButton {
	border-width: 3px;
	border-style: solid;
	border-color: #2B2B2B;
	border-radius: 3px;
}
#startButton:hover {
	cursor: pointer;
	border-color: green;
}
#stopButton:hover {
	cursor: pointer;
	border-color: DarkRed;
}
.imgurTimerButton:active {
	border-width: 0px;
	margin: 3px;
}